:root {
  --blue: #3F2AFF;
  --white: #FFF;
  --black: #2E2B44;
  --text-gray: #666;
  --section-bg-dark: #212133;
  --teacher-descr: #85859B;
  --course-bg: #EDF0F9;
}
/* html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
} */

@font-face {
  font-family: 'Roboto';
  src:
    url('../fonts/RobotoRegular.woff2') format('woff2'),
    url('../fonts/RobotoRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('../fonts/RobotoBold.woff2') format('woff2'),
    url('../fonts/RobotoBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* global */

.body {
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.link {
  display: inline-block;
  padding: 25px 75px 23px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--blue);
}

.section {
  padding: 80px 0;
}

.title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--black);
}

.title--white {
  color: var(--white)
}

.title--big {
  font-size: 60px;
}

.title--small {
  font-size: 18px;
  line-height: 150%;
}

.descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-gray);
}

/* header */
.header__wrap {
  padding: 28px 0 27px;
  background-color: var(--blue);
}

.header__content {
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.nav__item:not(:last-child) {
  margin-right: 57px;
}

.nav__link {
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: var(--white);
}

/* hero */
.hero {
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.hero__content {
  align-items: center;
}

.hero__title {
  margin-bottom: 28px;
}

.hero__descr {
  margin: 0;
  margin-bottom: 62px;
  font-size: 18px;
  line-height: 150%;
  color: var(--white);
}

.hero__img {
  padding: 15px 2px 7px;
  padding-right: 0;
}

/* benefits */
.benefits {
  padding-bottom: 90px;
  background-color: var(--white);
}

.benefits__top {
  margin-bottom: 35px;
}

.benefits__img {
  align-items: center;
}

.benefits__title {
  margin-bottom: 17px;
  max-width: 380px;
}

.benefits__decsr {
  max-width: 585px;
}

.benefit__descr {
  position: relative;
  display: inline-block;
  padding-left: 110px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: var(--text-gray);
}

.benefit__descr::before {
  content: '';
  position: absolute;
  top: -12px;
  left: 0;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;

}

.benefit__descr--first-img::before {
  background-image: url('../img/benefit-1.svg');
}

.benefit__descr--second-img::before {
  background-image: url('../img/benefit-2.svg');
}

.benefit__descr--third-img::before {
  background-image: url('../img/benefit-3.svg');
}

/* teachers */
.teachers {
  padding: 75px 0 73px;
  background-color: var(--section-bg-dark);
}

.teachers__title {
  margin-bottom: 23px;
}

.teacher__img {
  margin-bottom: 27px;
}

.teacher__name {
  margin-bottom: 7px;
  font-weight: 700;
}

.techer__descr {
  color: var(--teacher-descr);
}

/* courses */
.courses {
  padding: 75px 0 80px;
  background-color: var(--white);
}

.courses__title {
  margin-bottom: 23px;
}

.courses-list {
  flex-wrap: wrap;
}

.courses__item:not(:nth-last-child(-n+2)) {
  margin-bottom: 30px;
}

.course {
  position: relative;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  padding-top: 211px;
  border-radius: 20px;
  min-height: 480px;
  background-color: var(--course-bg);
  background-repeat: no-repeat;
  background-position: top center;
}

.course--first-img {
  background-image: url('../img/course-1.png');
}

.course--second-img {
  background-image: url('../img/course-2.png');
}

.course--third-img {
  background-image: url('../img/course-3.png');
}

.course--fourth-img {
  background-image: url('../img/course-4.png');
}

.course__title {
  margin-bottom: 8px;
}

.course__duration {
  position: absolute;
  top: 13px;
  right: 5px;
  padding-left: 27px;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
}

.course__duration::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/time.svg');
}

.course__descr {
  margin-bottom: 20px
}

.course__link {
  margin-top: auto;
  padding: 20px 60px;
  font-size: 16px;
  line-height: 19px;
}

/* footer */
.footer__top {
  padding: 30px 0;
  background-color: var(--black);
}

.footer__wrap {
  justify-content: center;
}

.social__item {
  font-size: 0;
}

.social__item:not(:last-child) {
  margin-right: 34px;
}

.social__link {
  display: inline-block;
}

.footer__bottom {
  padding-top: 3px;
  background-color: var(--white);
}

.copyright {
  font-size: 13px;
  line-height: 15px;
  color: var(--black);
}

.copyright__sign {
  color: var(--blue);
}
